<div class="container">
  <h3 class="label label-primary">Added List Items</h3>
  <br>
  <template ngFor let-todo [ngForOf]="todos" class="list-group-item">
    <div class="item" *ngIf=" todo!==''">{{todo}}</div>
  </template>
  <div ng-show="!todos.length" class="alert alert-dismissible alert-success">
    <strong>0 Items</strong> List Items yet to be Added!
  </div>
</div>



<br>
<div class="container">
  <h2> {{date}}</h2>
  <h2> {{date|date}}</h2>
  <h2> {{date|date:"dd/MMM/yyyy"}}</h2>

</div>

<h2> {{10|multiply:'50':'20'}}</h2>


<!--<div *ngFor="let post  of posts2 | filter:searchTerm | async">
  <h3>{{post.title}}</h3>
  <p>{{post.description}}</p>
</div>-->


<!-- Dispaly List of item with filter -->
<div *ngIf="posts?.length != 0" class="container">
  <div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button> Service Returned Items - <strong>{{posts.length}}</strong>
  </div>
  <div>
    <input type="text" placeholder="Search reward" [(ngModel)]="searchTerm" class="form-control">
  </div>

  <div *ngFor="let post  of posts | filter:searchTerm ">
    <h3>{{post.title}}</h3>
    <p>{{post.description}}</p>
  </div>

  <div class="alert alert-dismissible alert-warning" *ngIf="(posts | filter:searchTerm).length == 0">
    <!--<div ng-show="!posts.length" class="alert alert-dismissible alert-warning">-->
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>Sorry!, Search Text Not Found.</p>
  </div>

</div>
<div class="alert alert-dismissible alert-warning" *ngIf="posts?.length == 0">
  <!--<div ng-show="!posts.length" class="alert alert-dismissible alert-warning">-->
  <button type="button" class="close" data-dismiss="alert">&times;</button> Sorry! Service Returned Empty Items - <strong>{{posts.length}}</strong>
</div>