<p>
  task-add works!
</p>
<input type="checkbox" [(ngModel)]="isUnsaved"> Deactivate Route {{isUnsaved}}
<!--
<div class="form-group">

  <input type="text" [(ngModel)]="todo" name="todo" class="form-control">
  <button (click)="addTodo()" class="btn btn-primary">AddTodo</button>

</div>-->




<div class="form-group col-sm-4">
  <div class="input-group">
    <input type="text" [(ngModel)]="todo" name="todo" placeholder="Add Task Here" class="form-control" ngTrim="true">
    <span class="input-group-btn">
      <button (click)="addTodo()" class="btn btn-primary" >+ Add New Todos</button>
    </span>
  </div>
</div>